.body {
    position: relative;
}

.face {;
    transition: background-color 0.3s;
    display: flex;
    align-items: stretch;
    &:hover {
        background-color: #f0f0f0;
    }

    // face__art
    &__art {
        width: 120px;
        height: 90px;

        // face__art_icon
        &_icon {
            height: 100%;
            //background: url("../../static/icon/figures/circle.svg") center no-repeat;
            background-size: 30px;
            transition: background-position 0.2s;
            &:hover {
                background-position: 0 30%;
            }
        }
    }

    // face__button
    &__button {
        width: 30px;
        height: 90px;
        //background-color: blue;

        // face__button_icon
        &_icon {
            height: 100%;
            background: url("../../static/icon/up_arrow.svg") center no-repeat;
            background-size: 30px;
            transition: background-position 0.2s;
            &:hover {
                background-position: 0 30%;
            }
        }
    }

    // face_active
    &_active {
        background-color: #f0f0f0;
    }
}

.select {
    position: absolute;
    z-index: -1;
    width: 100px;
    height: 45px;
    border-radius: 15px;
    border: 1px solid #bbbbbb;
    background-color: #f0f0f0;
    top: 0;
    transition: top 0.3s;
    left: -50px;
    // select_active
    &_active {
        border: 1px solid #bbbbbb;
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.15);
        top: -60px;
    }
}
