.body {
    position: relative;
}

.face {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    transition: background-color 0.3s;
    &:hover {
        background-color: #f0f0f0;
    }

    // face__color
    &__color {
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        &_view {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 1px solid #bbbbbb;
        }
    }

    // face__icon
    &__icon {
        height: 45px;
        background: url("../../static/icon/filter.svg") center no-repeat;
        background-size: 30px;
    }

    // face_active
    &_active {
        background-color: #f0f0f0;
    }
}

.select {
    position: absolute;
    z-index: -1;
    width: 100px;
    height: 45px;
    border-radius: 15px;
    border: 1px solid #bbbbbb;
    background-color: #f0f0f0;
    top: 0;
    transition: top 0.3s;

    // select_active
    &_active {
        border: 1px solid #bbbbbb;
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.15);
        top: -60px;
    }
}
