
.create {
  display: flex;
  align-items: center;
  justify-content: center;
  // .create_icon
  &_icon {
    padding: 0 15px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../../static/icon/create.svg") center no-repeat;
  }
}

.warning {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;

  // .warning_title
  &_title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    padding: 1.5rem 0 1rem 0;
  }
  // .warning_content
  &_content {
    padding: 0 2rem;
    text-align: center;
    font-size: 1.3rem;
    line-height: 2.5rem;
  }
  // .warning_buttons
  &_buttons {
    margin: 2rem 0 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem ;
    // .warning_buttons_no
    &_no {
      margin: 0 0 0 2rem;
      width: 4rem;
    }
    // .warning_buttons_yes
    &_yes {

      margin: 0 2rem 0 0;
      width: 4rem;
    }
  }
}
